#education {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  gap: 0px;
  /* padding-top: 10px; */
  border-radius: 10px;
  color: rgb(32, 32, 32);
}

#header_education {
  display: flex;
  cursor: pointer;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  /* margin-bottom: 20px; */
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: border-radius 0.6s ease;
  transition: background-color 0.2s ease;
}

#header_education h2 {
  user-select: none;
  font-weight: 800;
  font-size: 1.4rem;
}

#header_education_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

#header_education_title svg {
  width: 25px;
  height: 25px;
}

#header_education button {
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  transform: rotate(90deg);
}

#edu_dropdown_icon {
  transform: rotate(90deg);
  transform-origin: center;
  transition: transform 0.3s ease;
}

#edu_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ///////////EDUCATION FORM/////////////// */

#education_form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: white;
  padding: 15px;
  color: rgb(27, 27, 27);
  font-weight: 700;
}
#education_form input {
  border-radius: 8px;
  font-weight: 500;
}
#school_input {
  grid-column: 1 / span 1;
  grid-row: 1;
  display: flex;
}

#school {
  grid-column: 2 / span 3;
}

#degree_input {
  grid-column: 1 / span 1;
  grid-row: 2;
}

#degree {
  grid-column: 2 / span 3;
}

#start_date_input {
  grid-column: 1 / span 1;
  grid-row: 3;
}

#start_date {
  grid-column: 2 / span 1;
  grid-row: 3;
}

#end_date_input {
  grid-column: 3 / span 1;
  grid-row: 3;
}

#end_date {
  grid-column: 4 / span 1;
  grid-row: 3;
}

#location_input {
  grid-column: 1 / span 1;
  grid-row: 4;
}

#location {
  grid-column: 2 / span 3;
  grid-row: 4;
}

#location_input {
  grid-column: 1 / span 2;
  grid-row: 4;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input {
  width: 100%;
}

#education_form button {
  cursor: pointer;
}

#edu_cancel {
  background-color: transparent;
  border: none;
  grid-column: 3 / span 1;
  border: 1px solid rgb(56, 56, 56);
  color: hsla(0, 0%, 21%, 0.541);
  font-weight: 600;
  border-radius: 10px;
  transition: color 0.1s ease-in, border 0.1s ease-in;
}

#edu_save {
  background-color: hsl(209, 78%, 60%);
  border: none;
  grid-column: 4 / span 1;

  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 0.1s ease-in, transform 0.1s ease-out;
}

#edu_save:active {
  transform: translateY(2px);
  transition: transform 0.3s ease-out;
}

#edu_save:hover {
  background-color: rgb(26, 129, 224);
  transition: background-color 0.3s ease-out;
}

#edu_cancel:hover {
  color: hsla(0, 0%, 21%, 0.836);
  border: 1px solid hsla(0, 0%, 22%, 0.733);
  transition: color 0.3s ease-out, border 0.3s ease-out;
}

#edu_cancel:active {
  transform: translateY(2px);
  transition: transform 0.3s ease-out;
}

/* ////////EDUCATION LIST ///////////////*/

#education_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
}

#education_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.education_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  font-weight: 600;
}

.edu_view {
  border: none;
  opacity: 0.5;
  background-color: transparent;
  transition: opacity 0.25s ease;
}

.edu_view svg {
  width: 20px;
  height: 20px;
  scale: 1.1;
}

.edu_view:hover {
  opacity: 1;
  transition: opacity 0.25s ease;
}

/* /////////////////EDUCATION BUTTON///////// */

#add_education_button_wrapper {
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#add_education_button {
  display: flex;
  cursor: pointer;

  align-items: center;
  gap: 5px;
  border-radius: 30px;
  padding: 8px 15px;
  border: none;
  border: 6px solid hsla(0, 0%, 89%, 0.664);
  background-color: white;
  font-weight: 600;
  font-size: 0.95rem;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

#add_education_button:hover {
  /* border: 6px solid hsla(209, 78%, 60%, 0.664); */
  background-color: hsl(209, 78%, 60%);
  color: rgb(255, 255, 255);
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

#add_education_button svg {
  width: 15px;
  height: 15px;
}

/* //////////////// DROPDOWN//////////// */
#dropdown_content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: max-height 0.25s ease-out, opacity 0.25s ease-in;
}

#dropdown_content.expanded {
  max-height: 2000px;
  opacity: 1;
  transition: max-height 0.25s ease-in, opacity 0.25s ease-in;
}

/* //////////////////////// */
#edu_dropdown_icon.rotated {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}
.rounded {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  transition: border-radius 0.2s ease-in;
}

.rounded:hover {
  background-color: white !important;
}
