.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 2;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  width: 420px;
  padding: 20px;
  z-index: 3;
  border-radius: 10px;
  position: relative;
}

#close_button {
  cursor: pointer;
  border: none;
  background-color: hsl(209, 78%, 60%);
  padding: 8px 10px;
  color: white;
  border-radius: 15px;
  font-weight: 600;
}

#close_button:hover {
  background-color: hsl(209, 78%, 50%);
}
