.personal_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  gap: 20px;
}

#personal_details {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#personal_details input {
  transform: translateX(3px);
  border-radius: 10px;
  /* ADD focus lighter blue color and drop shadow with blur and blue color for glow effect */
}

#personal_details label {
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.781);
}
